@charset "UTF-8";

/* -----  Fonts  -----*/

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url(../fonts/texgyreheros-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url(../fonts/texgyreheros-bold.woff) format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'TeX Gyre Heros';
  src: url(../fonts/texgyreheros-italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

/* -----  Reset  -----*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

/* Typo */

h1,
h2,
h3 {
 line-height: 1.2;
 margin-bottom: 10px;
}

/* Links */

a {
  color: #222;
  text-decoration: none;
  text-transform: uppercase;

}

a:hover {
  text-decoration: underline;
}

/* -----  Layout/structure  -----*/

html {
  height: 100%;
}

body {
  font-family: 'TeX Gyre Heros',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 100%;
  display: flex;
  font-size: 112.5%;
  line-height: 1.6;
  color: #222;
}

.sidebar {
  min-width: 325px;
}

.main {
  flex: auto;
}

.wrap {  
  display: flex;
  flex-direction: row;
}

.column {
  flex: auto;
  padding: 30px;
}

.column p {
  max-width: 650px;
  margin-bottom: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 500px; /* This pushes the footer down enough to display the skewed ::before element */
  text-align: right;
  padding-right: 10px;
  z-index: -10;
}

.footer::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 205px; /* 205px negates the skew from 12 degrees */
  height: 1000px;
  z-index: -1;
  background: #e3ecf6;
  transform: skew(0,-12deg);
}

/* Menu */

.menu {
  font-size: 2.2em;
  padding: 20px 30px 20px 30px;
  position: fixed;
  overflow-y: hidden;
  max-height: 800px;
  transition-property: transform;
  transition-property: max-height;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.menu-item {
  max-width: 305px;
}

.submenu {
  font-size: .6em;
  max-height: 0;
  overflow-y: hidden;
  padding-left: 20px;
  transition-property: max-height;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.submenu.is-active {
  max-height: 500px;
}

/* Mobile menu */

.burger {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: none;
  height: 3.25rem;
  width: 3.25rem;
  margin-left: auto;
}

.burger span {
  background-color: #000;
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition-duration: 86ms;
  transition-duration: 86ms;
  -webkit-transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, transform;
  transition-property: background-color, opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  width: 16px;
}

.burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.burger.is-active span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}

.burger.is-active span:nth-child(2) {
  opacity: 0;
}

.burger.is-active span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}

/* -----  Calendar  -----*/

.heading {
  font-weight: bold;
}
.today {
  margin-left: 30px;
  position:relative;
}
.today::before {
  content: '';
  position:absolute;
  width: 15px; 
  height: 15px; 
  background-color: #ffd500;
  top: 25px;
  left: -30px;
  transform: rotate(-45deg);
}

/* -----  Contacts  -----*/

.contact {
  max-width: 400px;
}

.contacts {
  display: flex;
  padding: 0;
}
.contact-card {
  padding: 20px 30px;
}

/* Misc */

.orb {
  height: 90vh;
  width: 90vh;
  opacity: 0.5;
  z-index: -5;
  border-radius: 50%;
  position: fixed;
  top: 5vh;
  left: -45vh;
}

.blue {
  background-color: #6ab4cf;
}

.orange {
  background-color: #f24613;
}

.green {
  background-color: #6acf85;
}

img { /* Responsive images */
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: .7em;
  color: #fff;
  position: relative;
  top: -35px;
  left: 10px;
}

hr {
  height: 2px;
  background-color: #222;
  width: 70%;
  margin: 5px 0px 5px 0px;
}

::-moz-selection {
  background: #0f60e2;
  color: #fff;
}

::selection {
  background: #0f60e2;
  color: #fff;
}

/* ====================================
============ SMALL SCREEN =============
=====================================*/

@media all and (max-width: 1200px) {
  .wrap {
    flex-direction: column;
  }
}

/* ====================================
============ SMALLER SCREEN ===========
=====================================*/

@media all and (max-width: 700px) {

}

/* ====================================
============ MOBILE ===================
=====================================*/

@media all and (max-width: 450px) {
  /* Put the "sidebar" on top of the content */
  body {
    flex-direction: column;
  }
  /* Lower the sidebar padding */
  .sidebar {
    padding: 0px;
  }
  /* Make the menu burger icon visible */
  .burger {
    display: block;
  }
  /* Invert the menu color and hide it by decreasing the height to 0 */
  .menu {
    font-size: 1.8em;
    padding: 0px;
    max-height: 0;
    position: relative;
    overflow: hidden;
  }

  .menu::before {
    content: "";
    position: absolute;
    top: -300px;
    z-index: -6;
    width: 100%;
    height: 500px;
    transform: skew(0,15deg);
    background: #e3ecf6;
  }
  .menu-item {
    margin-left: 20px;
  }

  /* Set the active height so the menu will slide down/animate when activated */
  .menu.is-active {
    max-height: 1000px;
  }

 .orb {
   height: 90vh;
   width: 90vh;
   left: -45vh;
 }

  .footer {
    padding-top: 300px; /* This pushes the footer down enough to display the skewed ::before element */
  }

  .contacts {
    flex-direction: column;
  }

}
